.wrap {
  max-width: 1200px;
}
/* 清除浮动 */
h1 {
  position: fixed;
  top: -6666px;
}
h2 {
  text-align: center;
}
h2 span {
  color: #333;
  font-size: 36px;
  position: relative;
}
h2 span:after,
h2 span:before {
  position: absolute;
  content: '';
  width: 70px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
}
h2 span:before {
  background-image: url("../images/title-r.png");
  left: -80px;
}
h2 span:after {
  background-image: url("../images/title-l.png");
  right: -80px;
}
@media (max-width: 768px) {
  h2 span {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  h2 span {
    font-size: 18px;
  }
}
input[type="text"],
select,
option {
  background: transparent;
  border: none;
  outline: none;
  box-sizing: border-box;
}
select::-ms-expand {
  display: none;
}
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
a.survey {
  display: inline-block;
  width: 196px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background-image: -moz-linear-gradient(0deg, #344b87 0%, #213768 100%);
  background-image: -webkit-linear-gradient(0deg, #344b87 0%, #213768 100%);
  background-image: -ms-linear-gradient(0deg, #344b87 0%, #213768 100%);
  font-size: 18px;
  color: #fff;
  transition: all .5s;
}
a.survey:hover {
  background-image: -moz-linear-gradient(0deg, #2c4078 0%, #1a2d56 100%);
  background-image: -webkit-linear-gradient(0deg, #2c4078 0%, #1a2d56 100%);
  background-image: -ms-linear-gradient(0deg, #2c4078 0%, #1a2d56 100%);
}
@media (max-width: 480px) {
  a.survey {
    width: 150px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
  }
}
.recommend {
  padding: 70px 20px;
}
.recommend ul {
  *zoom: 1;
  margin-top: 30px;
}
.recommend ul:after {
  content: " ";
  clear: both;
  display: table;
}
.recommend ul li {
  float: left;
  width: 30%;
  margin: 0 5% 10px 0;
  background-color: #f5f6f9;
  position: relative;
  transition: all .5s;
}
.recommend ul li:hover {
  box-shadow: 0 3px 8px 2px #ddd;
}
.recommend ul li img {
  width: 100%;
}
.recommend ul li div {
  padding: 20px;
}
.recommend ul li div h3 {
  color: #020202;
  font-size: 18px;
  margin: 5px 0 15px;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.recommend ul li div p {
  font-size: 16px;
  line-height: 24px;
  max-height: 72px;
  color: #999;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.recommend ul li:last-of-type {
  margin-right: 0;
}
.recommend ul li a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 768px) {
  .recommend {
    padding: 50px 20px;
  }
  .recommend ul li div {
    padding: 15px;
  }
  .recommend ul li div h3 {
    font-size: 16px;
    line-height: 20px;
    max-height: 20px;
    margin: 0 0 10px;
  }
  .recommend ul li div p {
    font-size: 14px;
    line-height: 20px;
    max-height: 60px;
  }
}
@media (max-width: 640px) {
  .recommend ul li {
    width: 48%;
    margin: 0 4% 10px 0;
  }
  .recommend ul li:nth-of-type(n+3) {
    display: none;
  }
  .recommend ul li:nth-of-type(2n) {
    margin: 0;
  }
  .recommend ul li div {
    padding: 15px 10px;
    height: 128px;
  }
  .recommend ul li div h3 {
    font-size: 16px;
    margin: 0 0 10px;
  }
  .recommend ul li div p {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .recommend {
    padding: 20px;
  }
  .recommend ul {
    margin-top: 20px;
  }
  .recommend ul li div {
    height: 100px;
  }
  .recommend ul li div h3 {
    font-size: 14px;
  }
  .recommend ul li div p {
    font-size: 12px;
    line-height: 18px;
    max-height: 54px;
    overflow: hidden;
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
nav.sidebar {
  display: none;
  position: fixed;
  top: 80px;
  left: 4%;
  width: 150px;
  z-index: 20;
  transition: all .5s;
}
nav.sidebar a {
  display: block;
  position: relative;
  border: 1px solid #344b87;
  color: #344b87;
  background: #fff;
  height: 32px;
  line-height: 32px;
  padding-left: 40px;
  margin-bottom: 15px;
  transition: all .5s;
}
nav.sidebar a:first-of-type {
  opacity: 1;
}
nav.sidebar a span {
  position: absolute;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #344b87;
  background-color: #344b87;
  border-radius: 50%;
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  text-align: center;
  transition: all .5s;
}
nav.sidebar a span i.iconfont {
  font-weight: 600;
}
nav.sidebar a:hover,
nav.sidebar a.current {
  background-color: #344b87;
  color: #fff;
}
nav.sidebar a:hover span,
nav.sidebar a.current span {
  background-color: #fff;
  color: #344b87;
}
nav.sidebar div {
  display: none;
  box-sizing: border-box;
  position: fixed;
  width: 30px;
  height: 30px;
  top: 80px;
  left: -10px;
  border-radius: 50%;
  transition: all .5s;
  background-color: #676b70;
  cursor: pointer;
  line-height: 33px;
  color: #fff;
  text-align: right;
  padding-right: 3px;
}
nav.sidebar div i.iconfont {
  font-size: 18px;
}
@media (max-width: 1366px) {
  nav.sidebar {
    left: 2%;
    width: 120px;
  }
  nav.sidebar a {
    height: 28px;
    line-height: 28px;
    margin-bottom: 12px;
    padding-left: 32px;
  }
  nav.sidebar a span {
    width: 28px;
    height: 28px;
    line-height: 28px;
    left: -13px;
  }
}
@media (max-width: 1200px) {
  nav.sidebar {
    left: -130px;
  }
  nav.sidebar div {
    display: block;
  }
  nav.sidebar.current {
    left: 4%;
  }
  nav.sidebar.current div {
    width: 1px;
    height: 1px;
  }
}
.banner {
  background: url("../images/banner-bg.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
.banner div,
.banner aside,
.banner section {
  box-sizing: border-box;
}
.banner .wrap {
  padding: 115px 0;
  position: relative;
}
.banner .wrap > div {
  width: 75%;
}
.banner .wrap > div a.text {
  width: 58%;
  display: block;
}
.banner .wrap > div a.text img {
  width: 100%;
}
.banner .wrap > div .centerimg {
  position: absolute;
  bottom: 0;
  right: 22%;
  width: 38.5%;
}
.banner .wrap > div .countdown {
  display: none;
  position: absolute;
  width: 60%;
  max-width: 195px;
  height: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  left: 20px;
  bottom: 10px;
  color: #fff;
  font-size: 12px;
}
.banner .wrap > div .countdown p {
  float: left;
  line-height: 20px;
  width: 110px;
  text-align: right;
}
.banner .wrap > div .countdown div b {
  line-height: 40px;
  font-size: 23px;
  padding: 0 2px ;
  margin: 0 1px;
  color: #ef4444;
  background-color: #2f3137;
}
.banner aside {
  position: absolute;
  right: 0;
  top: 0;
  width: 26.7%;
  height: 100%;
  background-color: #ebf3ff;
  max-width: 320px;
}
.banner aside > div,
.banner aside section {
  position: absolute;
  width: 100%;
  left: 0;
}
.banner aside > div {
  top: 0;
  padding: 9.5%;
  height: 66.5%;
}
.banner aside > div h2 {
  text-align: left;
}
.banner aside > div h2 img {
  float: left;
  margin-right: 10px;
}
.banner aside > div h2 p {
  color: #384148;
  font-size: 16px;
  line-height: 21px;
}
.banner aside > div h2 p:first-of-type {
  font-weight: 600;
}
.banner aside > div label {
  display: block;
  margin-top: 15px;
  width: 100%;
  height: 36px;
  line-height: 36px;
  box-sizing: border-box;
  border: 1px solid #ccd6e4;
  background: url("../images/icon-person.png") no-repeat 10px center;
  padding-left: 20px;
}
.banner aside > div label input[type='text'] {
  width: 100%;
  height: 36px;
  line-height: 36px;
  padding-left: 15px;
}
.banner aside > div label select {
  padding-left: 15px;
  width: 100%;
  color: #999;
}
.banner aside > div label:nth-of-type(2) {
  background-image: url("../images/icon-phone.png");
}
.banner aside > div label:nth-of-type(3) {
  background-image: url("../images/icon-mail.png");
}
.banner aside > div label:nth-of-type(4) {
  background-image: url("../images/icon-choose.png");
  position: relative;
}
.banner aside > div label:nth-of-type(4):after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: 10px;
  top: 12px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #ccc;
}
.banner aside > div input[type="submit"] {
  display: block;
  height: 40px;
  width: 100%;
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: #985b00;
  background-image: -moz-linear-gradient(-180deg, #fabb12 0%, #fdd921 100%);
  background-image: -webkit-linear-gradient(-180deg, #fabb12 0%, #fdd921 100%);
  background-image: -ms-linear-gradient(-180deg, #fabb12 0%, #fdd921 100%);
  margin-top: 15px;
  border: none;
}
.banner aside section {
  text-align: center;
  bottom: 0;
  height: 33.5%;
  background-color: #2f3137;
  padding: 7% 0;
}
.banner aside section h2 {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #fff;
}
.banner aside section .countdown {
  color: #ebf3ff;
  font-size: 16px;
  position: relative;
}
.banner aside section .countdown img {
  width: 53%;
}
.banner aside section .countdown span {
  position: relative;
}
.banner aside section .countdown span b {
  position: absolute;
  font-size: 56px;
  color: #ea5331;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1080px) {
  .banner .wrap {
    padding: 120px 20px;
  }
  .banner aside > div {
    padding: 8%;
  }
  .banner aside > div label {
    margin-top: 10px;
  }
  .banner aside > div input[type='submit'] {
    margin-top: 10px;
  }
}
@media (max-width: 960px) {
  .banner aside {
    width: 30%;
  }
  .banner aside > div {
    padding: 6% 3%;
    height: 70%;
  }
  .banner aside section {
    height: 30%;
    padding: 3% 0;
  }
}
@media (max-width: 768px) {
  .banner .wrap {
    padding: 0;
  }
  .banner .wrap > div {
    width: 100%;
    position: relative;
    padding: 30px 20px 80px;
  }
  .banner .wrap > div .centerimg {
    right: 0;
  }
  .banner aside {
    position: static;
    width: 100%;
    max-width: inherit;
    margin: 0 auto;
    overflow: hidden;
  }
  .banner aside > div,
  .banner aside section {
    position: static;
    float: left;
    height: 300px;
    left: inherit;
  }
  .banner aside > div {
    width: 60%;
    padding: 15px;
  }
  .banner aside section {
    width: 40%;
    padding: 15% 0;
  }
}
@media (max-width: 640px) {
  .banner .wrap > div .countdown {
    display: block;
  }
  .banner aside > div {
    width: 100%;
    height: auto;
    padding: 20px 10%;
  }
  .banner aside > div h2 img {
    height: 32px;
  }
  .banner aside > div h2 p {
    line-height: 16px;
    font-size: 14px;
  }
  .banner aside section {
    display: none;
  }
}
@media (max-width: 480px) {
  .banner .wrap > div {
    padding-left: 10px;
    padding-top: 20px;
  }
  .banner .wrap > div a.text {
    width: 100%;
  }
  .banner .wrap > div .centerimg {
    width: 30%;
  }
  .banner .wrap > div .countdown {
    left: 10px;
  }
}
.intro {
  padding: 70px 20px;
}
.intro section {
  margin-top: 50px;
  background: #f8fcff url("../images/index-intro.jpg") no-repeat bottom right;
  overflow: hidden;
  border: 1px solid #b7c1db;
}
.intro section .imgbox {
  text-align: center;
  float: left;
  width: 350px;
  padding: 50px 0;
}
.intro section .imgbox img {
  max-width: 100%;
}
.intro section .content {
  margin-left: 350px;
  padding: 60px 60px 60px 0;
}
.intro section .content p {
  color: #666;
  font-size: 16px;
  line-height: 36px;
  margin-bottom: 30px;
  text-align: justify;
}
.intro section .content p b {
  color: #213768;
}
@media (max-width: 768px) {
  .intro {
    padding: 50px 20px;
  }
  .intro section {
    margin-top: 30px;
  }
  .intro section .imgbox {
    width: 35%;
  }
  .intro section .imgbox img {
    width: 80%;
  }
  .intro section .content {
    margin-left: 35%;
    padding: 50px 30px 50px 0;
  }
  .intro section .content p {
    font-size: 14px;
    line-height: 28px;
  }
}
@media (max-width: 480px) {
  .intro {
    padding: 20px;
  }
  .intro section {
    margin-top: 20px;
  }
  .intro section .content {
    padding: 30px 10px 30px 0;
  }
  .intro section .content p {
    font-size: 12px;
    line-height: 24px;
  }
  .intro section .content a.survey {
    width: 150px;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
  }
}
.condition {
  background-color: #f5f6f9;
  padding: 70px 20px;
  text-align: center;
}
.condition section {
  margin: 50px 0;
  background-color: #fff;
  border: 1px solid #b7c1db;
  padding: 30px;
  overflow: hidden;
}
.condition section > div {
  float: left;
  box-sizing: border-box;
}
.condition section > div:first-of-type {
  width: 65%;
  border-right: 1px solid #b7c1db;
  padding-right: 60px;
}
.condition section > div:first-of-type p {
  padding-left: 45px;
}
.condition section > div:first-of-type p:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #c7cddb;
  left: 35px;
  top: 15px;
}
.condition section > div:last-of-type {
  width: 35%;
  padding-left: 60px;
}
.condition section > div p {
  padding-left: 40px;
  position: relative;
  font-size: 16px;
  color: #666;
  line-height: 36px;
  text-align: justify;
}
.condition section > div p span {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #fff;
  background-color: #213768;
  text-align: center;
  line-height: 25px;
  left: 0;
  top: 5px;
}
@media (max-width: 768px) {
  .condition {
    padding: 50px 20px;
  }
  .condition section {
    padding: 20px;
  }
  .condition section > div:first-of-type {
    padding-right: 30px;
  }
  .condition section > div:first-of-type p:before {
    top: 10px;
  }
  .condition section > div:last-of-type {
    padding-left: 30px;
  }
  .condition section > div p {
    font-size: 14px;
    line-height: 28px;
  }
  .condition section > div p span {
    top: 2px;
  }
}
@media (max-width: 640px) {
  .condition {
    padding: 50px 20px;
  }
  .condition section {
    padding: 20px;
  }
  .condition section > div:first-of-type {
    width: 100%;
    padding-right: 0;
    border-right: none;
  }
  .condition section > div:last-of-type {
    width: 100%;
    padding-left: 0;
  }
  .condition section > div p {
    font-size: 14px;
    line-height: 28px;
  }
}
@media (max-width: 480px) {
  .condition {
    padding: 20px;
  }
  .condition section {
    margin: 20px 0;
  }
}
.cost {
  padding: 70px 20px;
  background: url("../images/index-cost.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
}
.cost > p {
  font-size: 18px;
  color: #666;
}
.cost dl {
  overflow: hidden;
  margin: 40px 0;
  text-align: justify;
}
.cost dl dt {
  position: relative;
  color: #666;
  font-weight: 600;
  padding-left: 15px;
  font-size: 18px;
}
.cost dl dt:before {
  content: "";
  position: absolute;
  height: 60%;
  width: 4px;
  left: 0;
  top: 20%;
  background-color: #666;
}
.cost dl dd {
  box-sizing: border-box;
  float: left;
  width: 32%;
  margin: 10px 2% 10px 0;
  height: 183px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 20px 30px;
  transition: all .5s;
}
.cost dl dd h3 {
  font-size: 22px;
  color: #333;
  font-weight: 600;
  position: relative;
  margin-bottom: 20px;
}
.cost dl dd h3:after {
  position: absolute;
  content: '';
  width: 7%;
  height: 2px;
  background-color: #344b87;
  bottom: -10px;
  left: 0;
}
.cost dl dd:hover {
  box-shadow: 0 3px 15px 2px #ddd;
}
.cost dl dd p {
  font-size: 16px;
  color: #666;
  line-height: 28px;
}
.cost dl dd:nth-of-type(1) {
  background-image: url("../images/index-cost1.jpg");
}
.cost dl dd:nth-of-type(2) {
  background-image: url("../images/index-cost2.jpg");
}
.cost dl dd:nth-of-type(3) {
  margin-right: 0;
  background-image: url("../images/index-cost3.jpg");
}
@media (max-width: 960px) {
  .cost > p {
    font-size: 16px;
  }
  .cost dl dt {
    font-size: 16px;
  }
  .cost dl dd {
    height: 150px;
    padding: 10px 15px;
  }
  .cost dl dd h3 {
    font-size: 18px;
  }
  .cost dl dd p {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 768px) {
  .cost {
    padding: 50px 20px;
  }
  .cost dl dd p {
    font-size: 12px;
    line-height: 20px;
  }
}
@media (max-width: 640px) {
  .cost > p {
    font-size: 14px;
  }
  .cost dl dt {
    font-size: 14px;
  }
  .cost dl dd {
    width: 100%;
    float: none;
    margin: 10px 0 0;
  }
  .cost dl dd p {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 480px) {
  .cost {
    padding: 20px;
  }
  .cost > p {
    font-size: 12px;
  }
  .cost dl {
    margin: 20px 0;
  }
}
.prepare {
  padding: 70px 20px;
  background: url("../images/index-prepare.jpg");
  text-align: center;
}
.prepare ul {
  overflow: hidden;
  margin: 30px 0;
}
.prepare ul li {
  box-sizing: border-box;
  padding: 0 3%;
  float: left;
  width: 33.33%;
}
.prepare ul li img {
  max-width: 100%;
}
.prepare ul li h3 {
  font-size: 20px;
  color: #213768;
  font-weight: 600;
}
.prepare ul li p {
  font-size: 16px;
  color: #666;
  line-height: 30px;
  text-align: justify;
}
@media (max-width: 768px) {
  .prepare {
    padding: 50px 20px;
  }
}
@media (max-width: 640px) {
  .prepare ul li {
    width: 100%;
    margin-top: 10px;
    padding: 0;
  }
  .prepare ul li img {
    float: left;
    width: 95px;
  }
  .prepare ul li div {
    margin-left: 100px;
  }
  .prepare ul li div h3 {
    text-align: left;
    font-size: 18px;
  }
  .prepare ul li div p {
    font-size: 14px;
    line-height: 22px;
  }
  .prepare ul li:first-of-type {
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  .prepare {
    padding: 20px;
  }
  .prepare ul {
    margin: 20px 0;
  }
}
.testtime {
  padding: 70px 20px;
}
.testtime section {
  overflow: hidden;
  margin-top: 30px;
}
.testtime section > div {
  box-sizing: border-box;
  float: left;
  width: 50%;
}
.testtime section > div:first-of-type h3 {
  font-size: 18px;
  margin: 15px 0;
}
.testtime section > div:first-of-type p {
  font-size: 14px;
  color: #999;
}
.testtime section > div:first-of-type p span {
  margin: 0 20px 20px 0;
  display: inline-block;
  padding: 5px 15px;
  background-color: #e5ecf4;
  color: #213768;
}
.testtime section > div:first-of-type a.survey {
  margin-top: 30px;
}
.testtime section > div:last-of-type {
  text-align: center;
}
.testtime section > div:last-of-type img {
  max-width: 100%;
}
@media (max-width: 960px) {
  .testtime section > div {
    float: none;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .testtime {
    padding: 50px 20px;
  }
  .testtime section > div:first-of-type h3 {
    font-size: 16px;
  }
  .testtime section > div:first-of-type p span {
    margin: 0 10px 10px 0;
    padding: 3px 12px;
  }
}
@media (max-width: 480px) {
  .testtime {
    padding: 20px;
  }
  .testtime section {
    margin-top: 5px;
  }
}
.grade {
  background: url("../images/index-grade.jpg") no-repeat center center;
  background-size: cover;
  padding: 70px 20px;
}
.grade h2 span {
  color: #fff;
}
.grade section {
  background-color: #fff;
  max-width: 980px;
  margin: 40px auto 0;
  border-radius: 5px;
  overflow: hidden;
}
.grade section img {
  float: left;
  width: 300px;
}
.grade section div {
  margin-left: 300px;
  padding: 60px;
}
.grade section div h3 {
  color: #213768;
  font-size: 24px;
  font-weight: 600;
}
.grade section div p {
  margin: 30px 0;
  font-size: 18px;
}
.grade section div a.survey {
  margin-top: 30px;
  color: #985b00;
  background-image: -moz-linear-gradient(0deg, #fada2b 0%, #e7b315 100%);
  background-image: -webkit-linear-gradient(0deg, #fada2b 0%, #e7b315 100%);
  background-image: -ms-linear-gradient(0deg, #fada2b 0%, #e7b315 100%);
  border: none;
}
.grade section div a.survey:hover {
  background-image: -moz-linear-gradient(0deg, #eac508 0%, #eaac05 100%);
  background-image: -webkit-linear-gradient(0deg, #eac508 0%, #eaac05 100%);
  background-image: -ms-linear-gradient(0deg, #eac508 0%, #eaac05 100%);
}
@media (max-width: 768px) {
  .grade {
    padding: 50px 20px;
  }
  .grade section img {
    width: 200px;
  }
  .grade section div {
    margin-left: 200px;
    padding: 30px 20px 0;
  }
  .grade section div h3 {
    font-size: 20px;
  }
  .grade section div p {
    margin: 10px 0;
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .grade {
    padding: 20px;
  }
  .grade section {
    margin-top: 20px;
  }
  .grade section img {
    width: 120px;
  }
  .grade section div {
    margin-left: 120px;
    padding: 10px;
  }
  .grade section div h3 {
    font-size: 16px;
  }
  .grade section div p {
    font-size: 12px;
    margin: 5px 0;
  }
  .grade section div a.survey {
    margin-top: 0;
  }
}
@keyframes move {
  0% {
    opacity: 0;
    bottom: -200px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
