.wrap {
  max-width: 1200px;
}
h1 {
  position: fixed;
  top: -6666px;
}
h2 {
  text-align: center;
}
h2 span {
  color: #333;
  font-size: 36px;
  position: relative;
}
h2 span:after,
h2 span:before {
  position: absolute;
  content: '';
  width: 70px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
}
h2 span:before {
  background-image: url("../images/title-r.png");
  left: -80px;
}
h2 span:after {
  background-image: url("../images/title-l.png");
  right: -80px;
}
@media (max-width: 768px) {
  h2 span {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  h2 span {
    font-size: 18px;
  }
}
input[type="text"],
select,
option {
  background: transparent;
  border: none;
  outline: none;
  box-sizing: border-box;
}
select::-ms-expand {
  display: none;
}
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
a.survey {
  display: inline-block;
  width: 196px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background-image: -moz-linear-gradient(0deg, #344b87 0%, #213768 100%);
  background-image: -webkit-linear-gradient(0deg, #344b87 0%, #213768 100%);
  background-image: -ms-linear-gradient(0deg, #344b87 0%, #213768 100%);
  font-size: 18px;
  color: #fff;
  transition: all .5s;
}
@media (max-width: 480px) {
  a.survey {
    width: 150px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
  }
}
a.survey:hover {
  background-image: -moz-linear-gradient(0deg, #2c4078 0%, #1a2d56 100%);
  background-image: -webkit-linear-gradient(0deg, #2c4078 0%, #1a2d56 100%);
  background-image: -ms-linear-gradient(0deg, #2c4078 0%, #1a2d56 100%);
}
.recommend {
  padding: 70px 20px;
}
.recommend ul {
  overflow: hidden;
  margin-top: 30px;
}
.recommend ul li {
  float: left;
  width: 30%;
  margin: 0 5% 10px 0;
  background-color: #f5f6f9;
  position: relative;
  transition: all .5s;
}
.recommend ul li:hover {
  box-shadow: 0 3px 15px 2px #ddd;
}
.recommend ul li img {
  width: 100%;
}
.recommend ul li div {
  padding: 20px;
}
.recommend ul li div h3 {
  color: #020202;
  font-size: 18px;
  margin: 15px 0;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.recommend ul li div p {
  font-size: 16px;
  color: #999;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.recommend ul li:last-of-type {
  margin-right: 0;
}
.recommend ul li a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 768px) {
  .recommend {
    padding: 50px 20px;
  }
  .recommend ul li div {
    padding: 15px;
  }
  .recommend ul li div h3 {
    font-size: 16px;
    margin: 0 0 10px;
  }
  .recommend ul li div p {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .recommend ul li {
    width: 48%;
    margin: 0 4% 10px 0;
  }
  .recommend ul li:nth-of-type(2n) {
    margin-right: 0;
  }
  .recommend ul li div {
    padding: 15px;
    height: 128px;
  }
  .recommend ul li div h3 {
    font-size: 16px;
    margin: 0 0 10px;
  }
  .recommend ul li div p {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .recommend {
    padding: 20px;
  }
  .recommend ul {
    margin-top: 20px;
  }
  .recommend ul li div h3 {
    font-size: 14px;
  }
  .recommend ul li div p {
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
nav.sidebar {
  display: none;
  position: fixed;
  top: 120px;
  left: 4%;
  width: 150px;
  height: 600px;
}
nav.sidebar a {
  display: block;
  position: relative;
  border: 1px solid #344b87;
  color: #344b87;
  background: #fff;
  height: 32px;
  line-height: 32px;
  padding-left: 40px;
  margin-bottom: 15px;
  transition: all .5s;
}
nav.sidebar a span {
  position: absolute;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #344b87;
  background-color: #344b87;
  border-radius: 50%;
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  text-align: center;
  transition: all .5s;
}
nav.sidebar a span i.iconfont {
  font-weight: 600;
}
nav.sidebar a:hover,
nav.sidebar a.current {
  background-color: #344b87;
  color: #fff;
}
nav.sidebar a:hover span,
nav.sidebar a.current span {
  background-color: #fff;
  color: #344b87;
}
.banner {
  background: url("../images/banner-bg.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
.banner div,
.banner aside,
.banner section {
  box-sizing: border-box;
}
.banner .wrap {
  padding: 115px 0;
  position: relative;
}
.banner .wrap > div {
  width: 75%;
}
.banner .wrap > div a.text {
  width: 58%;
  display: block;
}
.banner .wrap > div a.text img {
  width: 100%;
}
.banner .wrap > div .centerimg {
  position: absolute;
  bottom: 0;
  right: 22%;
  width: 38.5%;
}
.banner .wrap > div .countdown {
  display: none;
  position: absolute;
  width: 60%;
  max-width: 195px;
  height: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  left: 20px;
  bottom: 10px;
  color: #fff;
  font-size: 12px;
}
.banner .wrap > div .countdown p {
  float: left;
  line-height: 20px;
  width: 110px;
  text-align: right;
}
.banner .wrap > div .countdown div b {
  line-height: 40px;
  font-size: 24px;
  margin: 0 5px;
  color: #ef4444;
  background-color: #2f3137;
}
.banner aside {
  position: absolute;
  right: 0;
  top: 0;
  width: 26.7%;
  height: 100%;
  background-color: #ebf3ff;
  max-width: 320px;
}
.banner aside > div,
.banner aside section {
  position: absolute;
  width: 100%;
  left: 0;
}
.banner aside > div {
  top: 0;
  padding: 9.5%;
  height: 66.5%;
}
.banner aside > div h2 {
  text-align: left;
}
.banner aside > div h2 img {
  float: left;
  margin-right: 10px;
}
.banner aside > div h2 p {
  color: #384148;
  font-size: 16px;
  line-height: 21px;
}
.banner aside > div h2 p:first-of-type {
  font-weight: 600;
}
.banner aside > div label {
  display: block;
  margin-top: 15px;
  width: 100%;
  height: 36px;
  line-height: 36px;
  box-sizing: border-box;
  border: 1px solid #ccd6e4;
  background: url("../images/icon-person.png") no-repeat 10px center;
  padding-left: 20px;
}
.banner aside > div label input[type='text'] {
  width: 100%;
  height: 36px;
  line-height: 36px;
  padding-left: 15px;
}
.banner aside > div label select {
  padding-left: 15px;
  width: 100%;
  color: #999;
}
.banner aside > div label:nth-of-type(2) {
  background-image: url("../images/icon-phone.png");
}
.banner aside > div label:nth-of-type(3) {
  background-image: url("../images/icon-mail.png");
}
.banner aside > div label:nth-of-type(4) {
  background-image: url("../images/icon-choose.png");
  position: relative;
}
.banner aside > div label:nth-of-type(4):after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: 10px;
  top: 12px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #ccc;
}
.banner aside > div input[type="submit"] {
  display: block;
  height: 40px;
  width: 100%;
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: #985b00;
  background-image: -moz-linear-gradient(-180deg, #fabb12 0%, #fdd921 100%);
  background-image: -webkit-linear-gradient(-180deg, #fabb12 0%, #fdd921 100%);
  background-image: -ms-linear-gradient(-180deg, #fabb12 0%, #fdd921 100%);
  margin-top: 15px;
  border: none;
}
.banner aside section {
  text-align: center;
  bottom: 0;
  height: 33.5%;
  background-color: #2f3137;
  padding: 7% 0;
}
.banner aside section h2 {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #fff;
}
.banner aside section .countdown {
  color: #ebf3ff;
  font-size: 16px;
  position: relative;
}
.banner aside section .countdown img {
  width: 53%;
}
.banner aside section .countdown span {
  position: relative;
}
.banner aside section .countdown span b {
  position: absolute;
  font-size: 56px;
  color: #ea5331;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1080px) {
  .banner .wrap {
    padding: 120px 20px;
  }
  .banner aside > div {
    padding: 8%;
  }
  .banner aside > div label {
    margin-top: 10px;
  }
  .banner aside > div input[type='submit'] {
    margin-top: 10px;
  }
}
@media (max-width: 960px) {
  .banner aside {
    width: 30%;
  }
  .banner aside > div {
    padding: 6% 3%;
    height: 70%;
  }
  .banner aside section {
    height: 30%;
    padding: 3% 0;
  }
}
@media (max-width: 768px) {
  .banner .wrap {
    padding: 0;
  }
  .banner .wrap > div {
    width: 100%;
    position: relative;
    padding: 30px 20px 80px;
  }
  .banner .wrap > div .centerimg {
    right: 0;
    width: 45%;
  }
  .banner aside {
    position: static;
    width: 100%;
    max-width: inherit;
    margin: 0 auto;
    overflow: hidden;
  }
  .banner aside > div,
  .banner aside section {
    position: static;
    float: left;
    height: 300px;
    left: inherit;
  }
  .banner aside > div {
    width: 60%;
    padding: 15px;
  }
  .banner aside section {
    width: 40%;
    padding: 15% 0;
  }
}
@media (max-width: 640px) {
  .banner .wrap > div .countdown {
    display: block;
  }
  .banner aside > div {
    width: 100%;
    height: auto;
    padding: 20px 10%;
  }
  .banner aside > div h2 img {
    height: 32px;
  }
  .banner aside > div h2 p {
    line-height: 16px;
    font-size: 14px;
  }
  .banner aside section {
    display: none;
  }
}
@media (max-width: 480px) {
  .banner .wrap > div {
    padding-left: 10px;
    padding-top: 20px;
  }
  .banner .wrap > div a.text {
    width: 100%;
  }
  .banner .wrap > div .centerimg {
    width: 40%;
  }
  .banner .wrap > div .countdown {
    left: 10px;
  }
}
.condition {
  background-color: #fff;
  padding: 70px 20px;
  text-align: center;
}
.condition h2 {
  text-align: left;
  font-size: 36px;
  color: #333;
  border-bottom: 2px solid #d8e0f1;
  padding-bottom: 20px;
}
.condition section {
  background-color: #fff;
  padding: 30px;
  padding-bottom: 0;
  overflow: hidden;
}
.condition section > div {
  float: left;
  box-sizing: border-box;
}
.condition section > div:first-of-type {
  width: 65%;
  padding-right: 60px;
}
.condition section > div:first-of-type p {
  padding-left: 45px;
}
.condition section > div:first-of-type p:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #c7cddb;
  left: 35px;
  top: 15px;
}
.condition section > div:last-of-type {
  width: 35%;
  padding-left: 60px;
}
.condition section > div p {
  padding-left: 40px;
  position: relative;
  font-size: 16px;
  font-style: italic;
  color: #666;
  line-height: 36px;
  text-align: justify;
}
.condition section > div p span {
  position: absolute;
  width: 50px;
  height: 30px;
  color: #344b87;
  text-shadow: .1px .1px #344b87;
  background: url("../images/tag.png") no-repeat center center;
  text-align: left;
  text-indent: 12px;
  line-height: 30px;
  left: -20px;
  top: 2px;
}
@media (max-width: 768px) {
  .condition {
    padding: 50px 20px;
  }
  .condition h2 {
    font-size: 24px;
  }
  .condition section {
    padding: 20px;
  }
  .condition section > div:first-of-type {
    padding-right: 30px;
  }
  .condition section > div:first-of-type p:before {
    top: 15px;
  }
  .condition section > div:last-of-type {
    padding-left: 30px;
  }
  .condition section > div p {
    font-size: 14px;
  }
  .condition section > div p span {
    top: 2px;
  }
}
@media (max-width: 640px) {
  .condition {
    padding: 50px 20px;
  }
  .condition section {
    padding: 20px;
  }
  .condition section > div:first-of-type {
    width: 100%;
    padding-right: 0;
    border-right: none;
  }
  .condition section > div:last-of-type {
    width: 100%;
    padding-left: 0;
  }
  .condition section > div p {
    font-size: 14px;
    line-height: 36px;
  }
}
@media (max-width: 480px) {
  .condition {
    padding: 20px;
  }
  .condition h2 {
    font-size: 18px;
  }
}
.process {
  background: linear-gradient(to right, #f0f3fb 0, #f0f3fb 50%, #f2f4fd 50%, #f2f4fd 100%);
  background: -moz-linear-gradient(to right, #f0f3fb 0, #f0f3fb 50%, #f2f4fd 50%, #f2f4fd 100%);
  background: -ms-linear-gradient(to right, #f0f3fb 0, #f0f3fb 50%, #f2f4fd 50%, #f2f4fd 100%);
}
.process .wrap {
  overflow: hidden;
}
.process .wrap section {
  float: left;
  width: 50%;
  padding: 70px 0;
  height: 450px;
  box-sizing: border-box;
  position: relative;
}
.process .wrap section h3 {
  color: #333;
  font-size: 36px;
  margin-bottom: 20px;
}
.process .wrap section div.survey {
  position: absolute;
  width: 100%;
  bottom: 70px;
}
.process .wrap section div.survey a.survey {
  display: inline-block;
  float: left;
  width: 40%;
}
.process .wrap section div.survey a.survey:first-of-type {
  margin-right: 5%;
}
.process .wrap section .imgbox img {
  max-width: 100%;
}
.process .wrap section:first-of-type {
  background: url("../images/reg-bg-left.jpg") no-repeat bottom right;
  padding-right: 50px;
  padding-left: 10px;
}
.process .wrap section:last-of-type {
  padding-left: 50px;
  padding-right: 10px;
  background: url("../images/reg-bg-right.jpg") no-repeat bottom left;
}
.process .wrap section:last-of-type p {
  font-style: italic;
  font-size: 20px;
  color: #666;
}
.process .wrap section:last-of-type p b {
  font-weight: 400;
  color: #344b87;
}
@media (max-width: 960px) {
  .process .wrap section {
    height: 410px;
  }
  .process .wrap section div.survey a.survey {
    font-size: 14px;
  }
  .process .wrap section:first-of-type {
    padding-right: 30px;
  }
  .process .wrap section:last-of-type {
    padding-left: 30px;
  }
}
@media (max-width: 768px) {
  .process .wrap section {
    height: 320px;
    padding: 50px 0;
  }
  .process .wrap section h3 {
    font-size: 24px;
  }
  .process .wrap section div.survey a.survey {
    font-size: 12px;
  }
  .process .wrap section:last-of-type p {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .process .wrap section {
    padding: 30px 20px !important;
    background-size: cover !important;
    float: none;
    width: 100%;
    height: auto;
  }
  .process .wrap section div.survey {
    overflow: hidden;
    position: static;
    margin-top: 20px;
    text-align: center;
  }
  .process .wrap section div.survey a.survey {
    float: none;
    display: inline-block;
    width: 45%;
  }
}
@media (max-width: 480px) {
  .process .wrap section {
    padding: 20px !important;
  }
  .process .wrap section h3 {
    font-size: 16px;
  }
}
.questions {
  padding: 70px 20px;
}
.questions .wrap .imgbox {
  text-align: center;
  margin: 50px 0;
  overflow-x: auto;
  border-radius: 10px;
}
.questions .wrap .imgbox img {
  max-width: 100%;
  min-width: 640px;
  border-radius: 10px;
  box-shadow: 0 5px 15px 3px #ddd;
}
.questions .wrap .survey {
  text-align: center;
}
.questions .wrap .survey a:last-of-type {
  background-image: -moz-linear-gradient(-180deg, #fabb12 0%, #fdd921 100%);
  background-image: -webkit-linear-gradient(-180deg, #fabb12 0%, #fdd921 100%);
  background-image: -ms-linear-gradient(-180deg, #fabb12 0%, #fdd921 100%);
  color: #985b00;
  margin-left: 30px;
}
.questions .wrap .survey a:last-of-type:hover {
  background-image: -moz-linear-gradient(0deg, #eac508 0%, #eaac05 100%);
  background-image: -webkit-linear-gradient(0deg, #eac508 0%, #eaac05 100%);
  background-image: -ms-linear-gradient(0deg, #eac508 0%, #eaac05 100%);
}
@media (max-width: 768px) {
  .questions {
    padding: 50px 20px;
  }
  .questions .wrap .imgbox {
    margin: 30px 0;
  }
}
@media (max-width: 480px) {
  .questions {
    padding: 20px;
  }
  .questions .wrap .imgbox {
    margin: 20px 0;
  }
  .questions .wrap .survey {
    overflow: hidden;
  }
  .questions .wrap .survey a {
    float: left;
    width: 44%;
  }
  .questions .wrap .survey a:last-of-type {
    margin-left: 10%;
  }
}
.recommend {
  background-color: #f5f6f9;
}
.recommend .wrap ul li div {
  background-color: #fff;
}
