.wrap {
  max-width: 1200px;
}
/* 清除浮动 */
h1 {
  position: fixed;
  top: -6666px;
}
h2 {
  text-align: center;
}
h2 span {
  color: #333;
  font-size: 36px;
  position: relative;
}
h2 span:after,
h2 span:before {
  position: absolute;
  content: '';
  width: 70px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
}
h2 span:before {
  background-image: url("../images/title-r.png");
  left: -80px;
}
h2 span:after {
  background-image: url("../images/title-l.png");
  right: -80px;
}
@media (max-width: 768px) {
  h2 span {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  h2 span {
    font-size: 18px;
  }
}
input[type="text"],
select,
option {
  background: transparent;
  border: none;
  outline: none;
  box-sizing: border-box;
}
select::-ms-expand {
  display: none;
}
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
a.survey {
  display: inline-block;
  width: 196px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background-image: -moz-linear-gradient(0deg, #344b87 0%, #213768 100%);
  background-image: -webkit-linear-gradient(0deg, #344b87 0%, #213768 100%);
  background-image: -ms-linear-gradient(0deg, #344b87 0%, #213768 100%);
  font-size: 18px;
  color: #fff;
  transition: all .5s;
}
a.survey:hover {
  background-image: -moz-linear-gradient(0deg, #2c4078 0%, #1a2d56 100%);
  background-image: -webkit-linear-gradient(0deg, #2c4078 0%, #1a2d56 100%);
  background-image: -ms-linear-gradient(0deg, #2c4078 0%, #1a2d56 100%);
}
@media (max-width: 480px) {
  a.survey {
    width: 150px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
  }
}
.recommend {
  padding: 70px 20px;
}
.recommend ul {
  *zoom: 1;
  margin-top: 30px;
}
.recommend ul:after {
  content: " ";
  clear: both;
  display: table;
}
.recommend ul li {
  float: left;
  width: 30%;
  margin: 0 5% 10px 0;
  background-color: #f5f6f9;
  position: relative;
  transition: all .5s;
}
.recommend ul li:hover {
  box-shadow: 0 3px 8px 2px #ddd;
}
.recommend ul li img {
  width: 100%;
}
.recommend ul li div {
  padding: 20px;
}
.recommend ul li div h3 {
  color: #020202;
  font-size: 18px;
  margin: 5px 0 15px;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.recommend ul li div p {
  font-size: 16px;
  line-height: 24px;
  max-height: 72px;
  color: #999;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.recommend ul li:last-of-type {
  margin-right: 0;
}
.recommend ul li a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 768px) {
  .recommend {
    padding: 50px 20px;
  }
  .recommend ul li div {
    padding: 15px;
  }
  .recommend ul li div h3 {
    font-size: 16px;
    line-height: 20px;
    max-height: 20px;
    margin: 0 0 10px;
  }
  .recommend ul li div p {
    font-size: 14px;
    line-height: 20px;
    max-height: 60px;
  }
}
@media (max-width: 640px) {
  .recommend ul li {
    width: 48%;
    margin: 0 4% 10px 0;
  }
  .recommend ul li:nth-of-type(n+3) {
    display: none;
  }
  .recommend ul li:nth-of-type(2n) {
    margin: 0;
  }
  .recommend ul li div {
    padding: 15px 10px;
    height: 128px;
  }
  .recommend ul li div h3 {
    font-size: 16px;
    margin: 0 0 10px;
  }
  .recommend ul li div p {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .recommend {
    padding: 20px;
  }
  .recommend ul {
    margin-top: 20px;
  }
  .recommend ul li div {
    height: 100px;
  }
  .recommend ul li div h3 {
    font-size: 14px;
  }
  .recommend ul li div p {
    font-size: 12px;
    line-height: 18px;
    max-height: 54px;
    overflow: hidden;
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
nav.sidebar {
  display: none;
  position: fixed;
  top: 80px;
  left: 4%;
  width: 150px;
  z-index: 20;
  transition: all .5s;
}
nav.sidebar a {
  display: block;
  position: relative;
  border: 1px solid #344b87;
  color: #344b87;
  background: #fff;
  height: 32px;
  line-height: 32px;
  padding-left: 40px;
  margin-bottom: 15px;
  transition: all .5s;
}
nav.sidebar a:first-of-type {
  opacity: 1;
}
nav.sidebar a span {
  position: absolute;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #344b87;
  background-color: #344b87;
  border-radius: 50%;
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  text-align: center;
  transition: all .5s;
}
nav.sidebar a span i.iconfont {
  font-weight: 600;
}
nav.sidebar a:hover,
nav.sidebar a.current {
  background-color: #344b87;
  color: #fff;
}
nav.sidebar a:hover span,
nav.sidebar a.current span {
  background-color: #fff;
  color: #344b87;
}
nav.sidebar div {
  display: none;
  box-sizing: border-box;
  position: fixed;
  width: 30px;
  height: 30px;
  top: 80px;
  left: -10px;
  border-radius: 50%;
  transition: all .5s;
  background-color: #676b70;
  cursor: pointer;
  line-height: 33px;
  color: #fff;
  text-align: right;
  padding-right: 3px;
}
nav.sidebar div i.iconfont {
  font-size: 18px;
}
@media (max-width: 1366px) {
  nav.sidebar {
    left: 2%;
    width: 120px;
  }
  nav.sidebar a {
    height: 28px;
    line-height: 28px;
    margin-bottom: 12px;
    padding-left: 32px;
  }
  nav.sidebar a span {
    width: 28px;
    height: 28px;
    line-height: 28px;
    left: -13px;
  }
}
@media (max-width: 1200px) {
  nav.sidebar {
    left: -130px;
  }
  nav.sidebar div {
    display: block;
  }
  nav.sidebar.current {
    left: 4%;
  }
  nav.sidebar.current div {
    width: 1px;
    height: 1px;
  }
}
.banner {
  background: url("../images/banner-bg.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
.banner div,
.banner aside,
.banner section {
  box-sizing: border-box;
}
.banner .wrap {
  padding: 115px 0;
  position: relative;
}
.banner .wrap > div {
  width: 75%;
}
.banner .wrap > div a.text {
  width: 85%;
  display: block;
}
.banner .wrap > div a.text img {
  width: 100%;
}
.banner .wrap > div .centerimg {
  position: absolute;
  bottom: 0;
  right: 22%;
  width: 35%;
}
.banner .wrap > div .countdown {
  display: none;
  position: absolute;
  width: 60%;
  max-width: 195px;
  height: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  left: 20px;
  bottom: 10px;
  color: #fff;
  font-size: 12px;
}
.banner .wrap > div .countdown p {
  float: left;
  line-height: 20px;
  width: 110px;
  text-align: right;
}
.banner .wrap > div .countdown div b {
  line-height: 40px;
  font-size: 23px;
  padding: 0 2px ;
  margin: 0 1px;
  color: #ef4444;
  background-color: #2f3137;
}
.banner aside {
  position: absolute;
  right: 0;
  top: 0;
  width: 26.7%;
  height: 100%;
  background-color: #ebf3ff;
  max-width: 320px;
}
.banner aside > div,
.banner aside section {
  position: absolute;
  width: 100%;
  left: 0;
}
.banner aside > div {
  top: 0;
  padding: 9.5%;
  height: 66.5%;
}
.banner aside > div h2 {
  text-align: left;
}
.banner aside > div h2 img {
  float: left;
  margin-right: 10px;
}
.banner aside > div h2 p {
  color: #384148;
  font-size: 16px;
  line-height: 21px;
}
.banner aside > div h2 p:first-of-type {
  font-weight: 600;
}
.banner aside > div label {
  display: block;
  margin-top: 15px;
  width: 100%;
  height: 36px;
  line-height: 36px;
  box-sizing: border-box;
  border: 1px solid #ccd6e4;
  background: url("../images/icon-person.png") no-repeat 10px center;
  padding-left: 20px;
}
.banner aside > div label input[type='text'] {
  width: 100%;
  height: 36px;
  line-height: 36px;
  padding-left: 15px;
}
.banner aside > div label select {
  padding-left: 15px;
  width: 100%;
  color: #999;
}
.banner aside > div label:nth-of-type(2) {
  background-image: url("../images/icon-phone.png");
}
.banner aside > div label:nth-of-type(3) {
  background-image: url("../images/icon-mail.png");
}
.banner aside > div label:nth-of-type(4) {
  background-image: url("../images/icon-choose.png");
  position: relative;
}
.banner aside > div label:nth-of-type(4):after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: 10px;
  top: 12px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #ccc;
}
.banner aside > div input[type="submit"] {
  display: block;
  height: 40px;
  width: 100%;
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: #985b00;
  background-image: -moz-linear-gradient(-180deg, #fabb12 0%, #fdd921 100%);
  background-image: -webkit-linear-gradient(-180deg, #fabb12 0%, #fdd921 100%);
  background-image: -ms-linear-gradient(-180deg, #fabb12 0%, #fdd921 100%);
  margin-top: 15px;
  border: none;
}
.banner aside section {
  text-align: center;
  bottom: 0;
  height: 33.5%;
  background-color: #2f3137;
  padding: 7% 0;
}
.banner aside section h2 {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #fff;
}
.banner aside section .countdown {
  color: #ebf3ff;
  font-size: 16px;
  position: relative;
}
.banner aside section .countdown img {
  width: 53%;
}
.banner aside section .countdown span {
  position: relative;
}
.banner aside section .countdown span b {
  position: absolute;
  font-size: 56px;
  color: #ea5331;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1080px) {
  .banner .wrap {
    padding: 120px 20px;
  }
  .banner aside > div {
    padding: 8%;
  }
  .banner aside > div label {
    margin-top: 10px;
  }
  .banner aside > div input[type='submit'] {
    margin-top: 10px;
  }
}
@media (max-width: 960px) {
  .banner aside {
    width: 30%;
  }
  .banner aside > div {
    padding: 6% 3%;
    height: 70%;
  }
  .banner aside section {
    height: 30%;
    padding: 3% 0;
  }
}
@media (max-width: 768px) {
  .banner .wrap {
    padding: 0;
  }
  .banner .wrap > div {
    width: 100%;
    position: relative;
    padding: 30px 20px 80px;
  }
  .banner .wrap > div a.text {
    width: 100%;
  }
  .banner .wrap > div .centerimg {
    right: 0;
    width: 45%;
  }
  .banner aside {
    position: static;
    width: 100%;
    max-width: inherit;
    margin: 0 auto;
    overflow: hidden;
  }
  .banner aside > div,
  .banner aside section {
    position: static;
    float: left;
    height: 300px;
    left: inherit;
  }
  .banner aside > div {
    width: 60%;
    padding: 15px;
  }
  .banner aside section {
    width: 40%;
    padding: 15% 0;
  }
}
@media (max-width: 640px) {
  .banner .wrap > div .countdown {
    display: block;
  }
  .banner aside > div {
    width: 100%;
    height: auto;
    padding: 20px 10%;
  }
  .banner aside > div h2 img {
    height: 32px;
  }
  .banner aside > div h2 p {
    line-height: 16px;
    font-size: 14px;
  }
  .banner aside section {
    display: none;
  }
}
@media (max-width: 480px) {
  .banner .wrap > div {
    padding-left: 10px;
    padding-top: 20px;
  }
  .banner .wrap > div a.text {
    width: 100%;
  }
  .banner .wrap > div .centerimg {
    width: 35%;
    height: 120px;
  }
  .banner .wrap > div .countdown {
    left: 10px;
  }
}
.review {
  padding: 70px 20px 0;
  background: #f7f7f7 url("../images/review.jpg") no-repeat bottom center;
}
.review section {
  min-height: 400px;
  box-sizing: border-box;
  padding-top: 50px;
}
.review section .context {
  margin-bottom: 50px;
}
.review section .context h3 {
  color: #344b87;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}
.review section .context p {
  width: 50%;
  color: #666;
  line-height: 30px;
  font-size: 16px;
}
.review section .context p span {
  margin-right: 40px;
}
.review section .context p span b {
  font-size: 40px;
  font-weight: 400;
}
.review section .context p span:last-of-type {
  margin-right: 0;
}
@media (max-width: 960px) {
  .review section .context p {
    width: 60%;
  }
  .review section .context p span b {
    font-size: 30px;
    margin-right: 15px;
  }
  .review section .context:first-of-type p {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .review {
    padding: 50px 20px;
  }
  .review section .context {
    margin-bottom: 25px;
  }
  .review section .context p span {
    display: block;
  }
}
@media (max-width: 480px) {
  .review {
    background: #f7f7f7;
    padding: 20px;
  }
  .review section {
    padding-top: 20px;
    min-height: 360px;
  }
  .review section .context {
    max-width: 360px;
    margin: 0 auto 10px;
  }
  .review section .context h3 {
    text-align: center;
  }
  .review section .context p {
    width: 100% !important;
  }
}
.prepare {
  padding: 70px 20px;
  background-color: #fff;
  text-align: center;
}
.prepare ul {
  overflow: hidden;
  margin: 30px 0;
}
.prepare ul li {
  box-sizing: border-box;
  float: left;
  width: 30%;
  margin: 0 5% 10px 0;
}
.prepare ul li img {
  max-width: 100%;
}
.prepare ul li h3 {
  font-size: 20px;
  color: #213768;
  font-weight: 600;
}
.prepare ul li p {
  margin-top: 15px;
  font-size: 16px;
  color: #666;
  line-height: 30px;
  text-align: justify;
  height: 150px;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.prepare ul li .buttons {
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #d2d6df;
}
.prepare ul li .buttons a {
  float: left;
  width: 25%;
  text-align: center;
  background-color: #e9eef6;
  height: 40px;
  line-height: 40px;
  border-right: 1px solid #d2d6df;
  box-sizing: border-box;
  color: #333;
}
.prepare ul li .buttons a:hover {
  color: #334a86;
}
.prepare ul li .buttons a:last-of-type {
  border-right: none;
}
.prepare ul li:last-of-type {
  margin-right: 0;
}
@media (max-width: 960px) {
  .prepare ul li p {
    font-size: 14px;
  }
  .prepare ul li .buttons a {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .prepare {
    padding: 50px 20px;
  }
  .prepare ul li {
    width: 100%;
    margin-top: 10px;
    padding: 0;
  }
  .prepare ul li img {
    float: left;
    width: 95px;
  }
  .prepare ul li > div {
    margin-left: 100px;
  }
  .prepare ul li > div h3 {
    text-align: left;
    font-size: 18px;
  }
  .prepare ul li > div p {
    font-size: 14px;
    line-height: 22px;
    height: auto;
    margin-bottom: 22px;
  }
  .prepare ul li:first-of-type {
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  .prepare {
    padding: 20px;
  }
  .prepare ul {
    margin: 20px 0;
  }
  .prepare ul li p {
    font-size: 12px;
  }
  .prepare ul li .buttons {
    position: relative;
    width: 120%;
    margin-left: -28%;
  }
  .prepare ul li .buttons a {
    height: 32px;
    line-height: 32px;
  }
}
.plan {
  background: url("../images/plan-bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 70px 20px;
  text-align: center;
}
.plan h2 span {
  color: #fff;
}
.plan h2 span:before {
  background-image: url("../images/title-r2.png");
}
.plan h2 span:after {
  background-image: url("../images/title-l2.png");
}
.plan p.text {
  margin: 30px 0;
  color: #fff449;
  font-size: 24px;
}
.plan .circle {
  text-align: center;
  margin: 30px 0;
  font-size: 0;
}
.plan .circle img {
  max-width: 100%;
  margin: 0 15px;
}
.plan .progress {
  margin-bottom: 30px;
}
.plan .progress img {
  max-width: 100%;
}
.plan .progress ul {
  *zoom: 1;
  display: none;
}
.plan .progress ul:after {
  content: " ";
  clear: both;
  display: table;
}
.plan .progress ul li {
  float: left;
  width: 24%;
  margin: 0 1.33% 10px 0;
  font-size: 14px;
  text-align: center;
  line-height: 36px;
  height: 36px;
  background: #fff;
  color: #047354;
}
.plan .progress ul li:first-of-type {
  background-color: #fff449;
  color: #344b87;
  font-weight: 600;
}
.plan .progress ul li:nth-of-type(4n) {
  margin-right: 0;
}
.plan a.survey {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  width: 220px;
}
.plan a.survey:hover {
  background: #1bd4a0;
}
@media (max-width: 960px) {
  .plan .circle img {
    width: 120px;
  }
}
@media (max-width: 768px) {
  .plan {
    padding: 50px 20px;
  }
  .plan p.text {
    font-size: 20px;
    margin: 20px 0;
  }
  .plan .circle {
    margin: 20px 0;
  }
  .plan .circle img {
    width: 100px;
  }
  .plan .progress {
    margin-bottom: 20px;
  }
  .plan .progress img {
    display: none;
  }
  .plan .progress ul {
    display: block;
  }
}
@media (max-width: 640px) {
  .plan .circle img {
    width: 80px;
    margin: 0 8px;
  }
}
@media (max-width: 480px) {
  .plan {
    padding: 20px;
  }
  .plan .circle {
    margin: 10px 0;
  }
  .plan .circle img {
    width: 23%;
    margin: 5px 1%;
  }
  .plan p.text {
    font-size: 16px;
    margin: 10px 0;
  }
  .plan .progress {
    margin-bottom: 10px;
  }
}
.data {
  background-color: #f5f6f9;
  padding: 70px 20px;
  text-align: center;
}
.data > p {
  font-size: 18px;
  color: #666;
}
.data section {
  margin: 40px 0;
  *zoom: 1;
  border-top: 1px solid #d0d3e0;
  border-bottom: 1px solid #d0d3e0;
  text-align: justify;
}
.data section:after {
  content: " ";
  clear: both;
  display: table;
}
.data section div {
  box-sizing: border-box;
  float: left;
  position: relative;
  padding: 40px 0 40px 150px;
  width: 50%;
}
.data section div img {
  position: absolute;
  left: 50px;
}
.data section div h3 {
  font-size: 22px;
  color: #333;
}
.data section div p {
  margin-top: 25px;
  font-size: 16px;
  padding-right: 50px;
  color: #666;
}
.data dl {
  text-align: center;
  margin-bottom: 30px;
  *zoom: 1;
}
.data dl:after {
  content: " ";
  clear: both;
  display: table;
}
.data dl dt {
  color: #333;
  font-size: 24px;
  margin-bottom: 30px;
}
.data dl dd {
  float: left;
  width: 20%;
}
.data dl dd .imgbox {
  height: 210px;
  overflow: hidden;
}
.data dl dd .imgbox img {
  max-width: 100%;
  max-height: 195px;
}
.data dl dd h3 {
  font-size: 18px;
  line-height: 27px;
  height: 27px;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: 600;
  color: #344b87;
  margin-bottom: 15px;
}
.data dl dd p {
  text-align: justify;
  font-size: 14px;
  color: #666;
  line-height: 26px;
  padding: 0 18px;
  height: 130px;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .data dl dd h3 {
    font-size: 16px;
  }
}
@media (max-width: 960px) {
  .data section {
    margin: 40px 0;
  }
  .data section div {
    padding: 40px 0 40px 120px;
    width: 50%;
  }
  .data section div img {
    left: 20px;
  }
  .data section div h3 {
    font-size: 20px;
  }
  .data section div p {
    font-size: 14px;
    margin-top: 15px;
    padding-right: 30px;
  }
  .data dl dd p {
    padding: 0 12px;
  }
}
@media (max-width: 768px) {
  .data {
    padding: 50px 20px;
  }
  .data > p {
    font-size: 16px;
  }
  .data section {
    margin: 30px 0;
  }
  .data section div {
    padding: 30px 0 30px 100px;
  }
  .data section div h3 {
    font-size: 18px;
  }
  .data section div p {
    padding-right: 20px;
  }
  .data dl dd {
    width: 33.33%;
    margin-bottom: 10px;
  }
}
@media (max-width: 640px) {
  .data > p {
    font-size: 14px;
  }
  .data section {
    margin: 20px 0;
  }
  .data section div {
    padding: 10px 0 10px 110px;
    float: none;
    width: 100%;
  }
  .data section div img {
    left: 20px;
  }
  .data section div h3 {
    font-size: 16px;
  }
  .data section div p {
    padding-right: 0;
    margin-top: 10px;
  }
  .data dl {
    margin-bottom: 20px;
  }
  .data dl dt {
    font-size: 20px;
  }
  .data dl dd {
    width: 100%;
    float: none;
    *zoom: 1;
  }
  .data dl dd:after {
    content: " ";
    clear: both;
    display: table;
  }
  .data dl dd .imgbox {
    width: 95px;
    float: left;
    height: initial;
  }
  .data dl dd .content {
    margin-left: 110px;
  }
  .data dl dd .content h3 {
    margin-bottom: 5px;
    text-align: left;
  }
  .data dl dd .content p {
    height: auto;
    padding: 0;
  }
}
@media (max-width: 480px) {
  .data {
    padding: 20px;
  }
  .data section div {
    padding: 10px 0 10px 92px;
  }
  .data section div img {
    left: 8px;
  }
  .data dl dt {
    font-size: 16px;
  }
  .data dl dd .imgbox {
    width: 80px;
  }
  .data dl dd .content {
    margin-left: 95px;
  }
  .data dl dd .content h3 {
    font-size: 14px;
  }
  .data dl dd .content p {
    font-size: 12px;
    line-height: 24px;
  }
}
.clear {
  padding: 70px 20px;
  background: #f5f6f9 url("../images/clear-bg.jpg") no-repeat top center;
}
.clear h2 span {
  color: #fff;
}
.clear > p {
  text-align: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
}
.clear section {
  background-color: #fff;
  padding: 60px 80px;
  border-radius: 10px;
  position: relative;
  margin-top: 45px;
}
.clear section > p {
  font-size: 20px;
  color: #333;
  margin-bottom: 50px;
}
.clear section ul {
  position: relative;
  z-index: 10;
}
.clear section ul li {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
}
.clear section ul li h3 {
  color: #344b87;
  font-weight: 600;
  position: relative;
  padding-left: 20px;
}
.clear section ul li h3:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 10px;
  left: 0;
  background-color: #344b87;
}
.clear section ul li p {
  color: #666;
  padding-left: 20px;
}
.clear section .imgbox {
  position: absolute;
  width: 50%;
  bottom: 60px;
  right: 80px;
  text-align: right;
}
.clear section .imgbox img {
  max-width: 100%;
}
.clear section a.survey {
  width: 250px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  background-image: -moz-linear-gradient(0deg, #fada2b 0%, #e7b315 100%);
  background-image: -webkit-linear-gradient(0deg, #fada2b 0%, #e7b315 100%);
  background-image: -ms-linear-gradient(0deg, #fada2b 0%, #e7b315 100%);
  height: 45px;
  line-height: 45px;
  border-radius: 22.5px;
}
.clear section a.survey:hover {
  background-image: -moz-linear-gradient(0deg, #eac508 0%, #eaac05 100%);
  background-image: -webkit-linear-gradient(0deg, #eac508 0%, #eaac05 100%);
  background-image: -ms-linear-gradient(0deg, #eac508 0%, #eaac05 100%);
}
.clear ul.types {
  margin-top: 80px;
  *zoom: 1;
}
.clear ul.types:after {
  content: " ";
  clear: both;
  display: table;
}
.clear ul.types li {
  float: left;
  width: 25%;
  text-align: center;
  transition: all .5s;
}
.clear ul.types li .imgbox img {
  height: 60px;
}
.clear ul.types li h3 {
  color: #333;
  font-size: 20px;
  margin: 20px 0;
  font-weight: 600;
}
.clear ul.types li p {
  text-align: justify;
  padding: 0 15px;
  font-size: 16px;
  color: #666;
  line-height: 30px;
}
.clear a.survey2 {
  display: block;
  margin: 40px auto 0;
  width: 220px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background-image: -moz-linear-gradient(0deg, #344b87 0%, #213768 100%);
  background-image: -webkit-linear-gradient(0deg, #344b87 0%, #213768 100%);
  background-image: -ms-linear-gradient(0deg, #344b87 0%, #213768 100%);
  color: #fff;
  font-size: 18px;
}
.clear a.survey2:hover {
  color: #ffe749;
}
@media (max-width: 960px) {
  .clear section .imgbox {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .clear {
    padding: 50px 20px;
  }
  .clear > p {
    font-size: 16px;
  }
  .clear section {
    margin-top: 30px;
    padding: 50px 70px;
  }
  .clear section > p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .clear section ul li {
    font-size: 14px;
    line-height: 26px;
  }
  .clear section .imgbox {
    bottom: 50px;
    right: 70px;
  }
  .clear ul.types li h3 {
    font-size: 18px;
  }
  .clear ul.types li p {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 640px) {
  .clear section {
    padding: 30px 40px;
  }
  .clear section .imgbox {
    bottom: 30px;
    right: 40px;
  }
  .clear ul.types li {
    float: none;
    width: 100%;
    *zoom: 1;
  }
  .clear ul.types li:after {
    content: " ";
    clear: both;
    display: table;
  }
  .clear ul.types li .imgbox {
    float: left;
    width: 80px;
  }
  .clear ul.types li .context {
    margin-left: 95px;
    text-align: left;
  }
  .clear ul.types li .context h3 {
    margin-bottom: 8px;
  }
  .clear ul.types li .context p {
    padding: 0;
  }
}
@media (max-width: 480px) {
  .clear {
    padding: 20px;
  }
  .clear section {
    padding: 20px;
  }
  .clear section .imgbox {
    display: none;
  }
  .clear section > p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .clear section a.survey {
    width: 180px;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
  }
  .clear ul.types {
    margin-top: 40px;
  }
  .clear a.survey2 {
    margin: 20px auto 0;
    width: 180px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
  }
}
