//public
.wrap {
    max-width: 1200px;
}

.spill(@n) {
    overflow: hidden;
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: @n;
    -webkit-box-orient: vertical;
}

h1 {
    position: fixed;
    top: -6666px;
}

h2 {
    text-align: center;
    span {
        color: #333;
        font-size: 36px;
        position: relative;
        &:after,
        &:before {
            position: absolute;
            content: '';
            width: 70px;
            height: 12px;
            top: 50%;
            transform: translateY(-50%)
        }
        &:before {
            background-image: url("../images/title-r.png");
            left: -80px;
        }
        &:after {
            background-image: url("../images/title-l.png");
            right: -80px;
        }
    }
    @media(max-width:768px) {
        span {
            font-size: 24px;
        }
    }
    @media(max-width:480px) {
        span {
            font-size: 18px;
        }
    }
}

input[type="text"],
select,
option {
    background: transparent;
    border: none;
    outline: none;
    box-sizing: border-box;
}

select::-ms-expand {
    display: none;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

a.survey {
    display: inline-block;
    width: 196px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-image: -moz-linear-gradient( 0deg, rgb(52,75,135) 0%, rgb(33,55,104) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(52,75,135) 0%, rgb(33,55,104) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(52,75,135) 0%, rgb(33,55,104) 100%);    
    font-size: 18px;
    color: #fff;
    transition: all .5s;
    &:hover {
        background-image: -moz-linear-gradient( 0deg, #2c4078 0%, #1a2d56 100%);
        background-image: -webkit-linear-gradient( 0deg, #2c4078 0%, #1a2d56 100%);
        background-image: -ms-linear-gradient( 0deg, #2c4078 0%, #1a2d56 100%); 
    }
    @media(max-width: 480px) {
        width: 150px;
        height: 36px;
        line-height: 36px;
        font-size: 14px;
    }
}

//recommend start
.recommend {
    padding: 70px 20px;
    ul {
        overflow: hidden;
        margin-top: 30px;
        li {
            float: left;
            width: 30%;
            margin: 0 5% 10px 0;
            background-color: #f5f6f9;
            position: relative;
            transition: all .5s;
            &:hover {
                box-shadow: 0 3px 15px 2px #ddd;
            }
            img {
                width: 100%;
            }
            div {
                padding: 20px;
                h3 {
                    color: #020202;
                    font-size: 18px;
                    margin: 15px 0;
                    .spill(1);
                }
                p {
                    font-size: 16px;
                    color: #999;
                    text-align: justify;
                    .spill(3);
                }
            }
            &:last-of-type {
                margin-right: 0;
            }
            a {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
    }
    @media(max-width:768px) {
        padding: 50px 20px;
        ul {
            li {
                div {
                    padding: 15px;
                    h3 {
                        font-size: 16px;
                        margin: 0 0 10px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    @media(max-width:640px) {
        ul {
            li {
                width: 48%;
                margin: 0 4% 10px 0;
                &:nth-of-type(2n) {
                    margin-right: 0;
                }
                div {
                    padding: 15px;
                    height: 128px;
                    h3 {
                        font-size: 16px;
                        margin: 0 0 10px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    @media(max-width:480px) {
        padding: 20px;
        ul {
            margin-top: 20px;
            li {
                div {
                    h3 {
                        font-size: 14px;
                    }
                    p {
                        font-size: 12px;
                        .spill(3);
                    }
                }
            }
        }
    }
}

//recommend end
//public end